muziek/dml/dtd/studio.dtd

<!ELEMENT studio (album+)>
<!ELEMENT album (titel, label, jaar, volgnr, producer, credits, bezetting)
<!ATTLIST album  id CDATA #REQUIRED
            artiest CDATA #REQUIRED>
<!ELEMENT titel (PCDATA)>
<!ELEMENT label (PCDATA)>
<!ELEMENT jaar (PCDATA)>
<!ELEMENT volgnr (PCDATA)>
<!ELEMENT producer (PCDATA)>
<!ELEMENT credits (PCDATA)>
<!ELEMENT bezetting (PCDATA)>
